@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

body{
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: rgb(48, 172, 232);
}
.container{
    margin: 250px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rect{
    background-color: rgb(218, 121, 231);
    padding: 10px;
    width: 60%;
    border-radius: 10px;
    box-shadow: 2px 2px 7px rgb(46, 46, 46);
}
.title{
    font-family: "Pacifico";
}
#result{
    margin-top: 10px;
}
